@media (max-width: 1199.5px){

.navbar-brand {
    max-width: 180px;
}

.about-content h1 {
    font-size: 39px;
}

.headphones-content {
    margin: 0 60px 0px 40px;
}
.headphones-content h1 {
    font-size: 31px;
}
.headphones-content p {
    font-size: 14px;
}
.headphones-content a {
    font-size: 14px;
    padding: 15px 30px;
}
.features-section {
    padding-bottom: 50px;
}
.features-section .heading h1 {
    padding-bottom: 50px;
}
.shadow-mobile {
    position: absolute;
    top: 1%;
    left: 25%;    
}
.power-content {
    margin-left: 60px;
}








}

@media (max-width: 991.5px){


	.features-box {
    padding-bottom: 40px;
    max-width: 50%;
}

.shadow-mobile {
    position: absolute;
    top: 14%;
    left: 43%;
}
.features-section {
    padding-bottom: 0px;
}
.shadow-mobile img {
    max-width: 425px;
}



.footer-section ul li a {
    font-size: 10px;
}
.footer-section .copyright {
    padding-top: 5px;
}
.footer-section .copyright p {
    font-size: 10px;
}

}
@media (max-width: 767.5px){

		.features-box {
    padding-bottom: 40px;
    max-width: 100%;
}
.headphones-section img {
    max-width: 90%;
    padding-bottom: 80px;
}
.headphones-section:hover img {
    transform: none;
}


.power-content {
    margin-left: 50px;
    margin-top: 50%;
    max-width: 75%;
    padding-bottom: 20px;
}

.power-section {
    padding-bottom: 50px;
}
.shadow-mobile img {
    max-width: 400px;
}
.shadow-mobile {
    position: absolute;
    top: 84%;
    left: 20%;
}
.discover-img a {
    padding: 15px 30px;
}
.footer-section {
    padding: 20px 0;
}
.footer-section ul {
    justify-content: center;
}
.footer-section .copyright {
    padding-top: 10px;
    justify-content: center;
}
.footer-section .copyright p {
    font-weight: 500;
    text-align: center;
}

.rellax{
    transition: transform 0s cubic-bezier(0,0,0,0);
}


}

@media (max-width: 575.5px){

			.features-box {
    padding-bottom: 40px;
    max-width: 100%;
    margin-left: 25px;
}
.headphones-content {
    margin: 0 40px 0px 40px;
}

.features-section {
    padding-bottom: 50px;
}
.features-section .heading h1 {
    font-size: 38px;
}

.shadow-mobile {
    position: absolute;
    top: 86%;
    left: 17%;
}
.shadow-mobile img {
    max-width: 300px;
}
.features-section .shadow-mobile:hover img {
    transform: none;
}
.power-content {
    margin-left: 30px;
    margin-top: 50%;
    max-width: 90%;
    padding-bottom: 40px;
}


}
@media (max-width: 420px){

.shadow-mobile {
    position: absolute;
    top: 85%;
    left: 10%;
}
.shadow-mobile img {
    max-width: 300px;
}

}
